.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:nth-child(1) .ant-tabs-close-x{
    display:none !important
}
.ant-tabs-tab:nth-child(1){
    /* background: rgb(6, 187, 207) !important;
    border-bottom:none!important;
    color:#fff !important */
    
    /* border-bottom: 3px solid #0ab4cb !important; */
    /* color:#0ab4cb !important */
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    background: none;
    border: none;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    border-bottom: 3px solid #0ab4cb
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    padding: 0px 4px;
    margin: 0px 16px;
    line-height:40px;
}
.ant-tabs-bar{
    border-bottom: none;
    margin:0px !important;
}
.ant-tabs-nav-container{
    font-size: 14px;
}